{% extends 'base.html.twig' %}
{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block title %} 
    formulaire d'utilisateur
{% endblock %}


{% block content %}

<body>
    <div class="container">
        <h1 class="head-h1 home">Ajout...</h1>
        {{ form_start(formUser) }}
        {{ form_widget(formUser) }}
        <button class="btn btn-success" type="submit">Envoyer</button>
        {{ form_end(formUser) }}
    </div>
</body>
    
{% endblock %}